.card-data {
  height: 520px;
  transition: transform 1.5s;
}

.card-data:hover {
  transform: translateY(-15px);
  box-shadow: 5px 5px 20px grey;
}

.info {
  text-align: justify;
  font-size: 16px;
}

.btn-buy {
  width: 140px;
  height: 40px;
  background-color: #2874a6;
}

@media only screen and (max-width: 688px) {
  .card-data {
    height: 520px;
  }
}
