.link {
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  padding: 8px;
}

.link:hover {
  color: #fad7a0;
}

.link:focus {
  color: #fad7a0;
}

@media only screen and (max-width: 688px) {
  .link {
    margin-left: 70px;
  }
  .name {
    margin-right: 45px;
  }
  .common-btn {
    margin-bottom: 20px;
  }
}
